<html lang='en'>
	<head>
		<title>Document</title>
		<link rel='stylesheet' href='/index.css' />
	</head>
	<body>
		<div id='root'>
			<aside>
				<a href='/' class='click'>AmediaTv</a>
				<a href='/accounts' class='click'>Users</a>
				<a href='/api/anime' class='click'>Animes</a>
				<a href='/api/anime/season' class='click'>Seasons</a>
				<details>
					<summary class="click">Collections</summary>
					<ol style='list-style-position: inside;'>
						<li class='click'><a href='/collection/accounts'>Accounts</a></li>
						<li class='click'><a href='/collection/animes'>Animes</a></li>
						<li class='click'><a href='/collection/seasons'>Seasons</a></li>
						<li class='click'><a href='/collection/episodes'>Episodes</a></li>
					</ol>
				</details>
			</aside>
			<nav>
				<a href='/'>AmediaTv</a>
				<a class='click' href='/account'>Account</a></li>
			</nav>
			<main>
				{{body}}
			</main>
		</div>
		<script>
			const jsonOutput = document.getElementsByClassName('json');
			for (let element of jsonOutput) highlightJson(element); 
			function highlightJson(element) {
				const text = element.innerText;
				let highlightedText = text
					.replace(/"([^"]+)":/g, "<span class=\'json-key\'>$1</span>:")
					.replace(/"([^"]*)"/g, '<span class=\'json-string\'>$&</span>')
					.replace(/\b(true|false)\b/g, '<span class=\'json-boolean\'>$&</span>')
					.replace(/\bnull\b/g, '<span class=\'json-null\'>$&</span>')
					.replace(/(?<![\/\w-])\d+(?:\.\d+)?(?:[eE][+-]?\d+)?(?![\/\w-])/g, '<span class=\'json-number\'>$&</span>')
					.replace(/([\{\}\[\]:,])/g, '<span class=\'json-punctuation\'>$&</span>')
				element.innerHTML = highlightedText;
			};
		</script>
	</body>
</html>