*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
#root {
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 70px 1fr;
	grid-template-areas:
		'sidebar navbar'
		'sidebar main';
	background-color: #333333;
}
aside {
	grid-area: sidebar;
	box-sizing: border-box;
	position: sticky;
	z-index: 5;
	top: 0;
	display: grid;
	grid-template-rows: repeat(auto-fill, 40px);
	gap: 10px;
	height: 100vh;
	padding: 10px;
	color: white;
	overflow-y: auto;
	& > * {
		padding: 10px;
		display: grid;
		align-items: center;
	}
}
nav {
	grid-area: navbar;
	box-sizing: border-box;
	position: sticky;
	z-index: 5;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px;
	color: white;
	background-color: inherit;
	& > * {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		list-style-type: none;
		font-size: x-large;
		& > * > * {
			padding: 10px;
		}
	}
}
main {
	grid-area: main;
	position: relative;
	background-color: white;
}
form {
	display: grid;
	gap: 10px;
	width: 100%;
}
fieldset {
	display: grid;
	gap: 10px;
	padding: 5px;
	font-size: medium;
	height: 100% !important;
	width: 100%;
}

button,
input,
select {
	padding: 2px;
	font-size: medium;
	width: 100%;
	margin: 0 !important;
}
summary {
	user-select: none;
}
details {
	margin: 0;
	padding: 0;
}
li {
	display: flex !important;
	position: relative;
	/* width: 100%; */
	padding: 0 !important;
	cursor: pointer;
	& > * {
		width: 100% !important;
		display: block;
		padding: 10px;
		padding-left: 30px !important;
		&:hover {
			text-decoration: underline;
			background-color: #444444;
		}
		&:active {
			text-decoration: none;
		}
	}
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		left: 20px;
		width: 1px;
		background-color: #888;
	}
}
video {
	width: 100%;
	height: 100%;
}
#accounts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	gap: 10px;
	padding: 10px;
	height: min-content;
}
#account {
	display: grid;
	gap: 10px;
	width: 400px;
	height: 300px;
	& > label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > .value {
			width: min-content;
			height: 100%;
			width: 250px;
			&[type='file'] {
				cursor: pointer;
				padding-left: 0;
				&::file-selector-button {
					cursor: pointer;
					height: 100%;
					margin: 0;
					margin-right: 10px;
				}
			}
			&.role {
				text-transform: uppercase;
				font-weight: bold;
				height: min-content;
				width: min-content;
				margin-left: auto;
			}
		}
	}
}
#header {
	position: sticky;
	top: 70px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 50px;
	background-color: #444444;
	color: white;
	& > * {
		width: fit-content;
		padding: 5px 15px;
	}
}
.account {
	border-style: solid;
	border-color: gray;
	border-radius: 5px;
	border-width: 1px;
	&[data-role='admin'] {
		border-color: green;
	}
	&[data-role='creator'] {
		border-color: red;
	}
	&:has(#my-account) {
		border-color: #333333;
	}
	& > .label {
		display: flex;
		justify-content: space-between;
		& .value.role {
			text-transform: uppercase;
			color: black;
		}
		& .value.path {
			font-style: italic;
			font-size: small;
			color: blue;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.popover {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1.3);
	height: min-content !important;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	& > * {
		padding: 10px;
		border-radius: inherit;
		border: 1px solid lightslategray;
		background-color: white;
	}
}
#animes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	padding: 10px;
	height: min-content;
}
.anime {
	display: grid;
	gap: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	& > div {
		padding: 10px;
		& > .label {
			display: flex;
			justify-content: space-between;
			& .value.path {
				font-style: italic;
				font-size: x-small;
				max-width: 250px;
				color: blue;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.json {
	height: 100%;
	max-height: 300px;
	border: 1px solid #61afef;
	overflow-y: auto;
	padding: 15px;
	font-size: 11px;
	line-height: 1.2;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: text;
	&::selection {
		background-color: blue;
	}
	&::-webkit-scrollbar {
		height: 1px;
		width: 1px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	&::-webkit-scrollbar-thumb {
		background: #888;
	}
	& * {
		pointer-events: none;
	}
	& .json-key {
		color: #aa6f00;
		&::selection {
			color: #5effff;
			background-color: blue;
		}
	}
	& .json-string {
		color: #b93b00;
		&::selection {
			color: #26ff00;
			background-color: blue;
		}
	}
	& .json-number {
		color: #00628f;
		&::selection {
			color: #fbf700;
			background-color: blue;
		}
	}
	& .json-boolean {
		color: #c300ff;
		&::selection {
			color: #ff0000;
			background-color: blue;
		}
	}
	& .json-null {
		color: #00292e;
		&::selection {
			color: #ffffff;
			background-color: blue;
		}
	}
	& .json-punctuation {
		color: #050035;
		&::selection {
			color: #f87eee;
			background-color: blue;
		}
	}
}
.link {
	height: 100%;
	width: 100%;
	& > button {
		width: inherit;
		height: inherit;
	}
}
#dashboard {
	display: flex;
	align-items: start;
	position: relative;
	gap: 10px;
	padding: 10px;
	height: 100%;
	& > img {
		object-fit: cover;
		border-radius: 5px;
		z-index: 1;
		&.banner {
			inset: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			border-radius: 0;
			position: absolute;
		}
	}
	& > div {
		display: grid;
		background-color: white;
		padding: 10px;
		border-radius: 5px;
		gap: 10px;
		z-index: 1;
		width: 500px;
		& > label {
			display: flex;
			justify-content: space-between;
			& > input {
				width: 300px;
			}
		}
	}
}
.click {
	cursor: pointer;
	display: block;
	padding: 10px;
	&:hover {
		text-decoration: underline;
		background-color: #444444;
	}
	&:active {
		text-decoration: none;
	}
}
